# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

command_line:
  - sensor:
      name: Temperature Outdoor
      scan_interval: 600
      command: "curl http://ip/temp_out"
      # If errors occur, make sure configuration file is encoded as UTF-8
      unit_of_measurement: "°C"

  - sensor:
      name: Temperature Indoor
      scan_interval: 600
      command: "curl http://ip/temp_in"
      # If errors occur, make sure configuration file is encoded as UTF-8
      unit_of_measurement: "°C"

  - sensor:
      name: Hidro
      scan_interval: 600
      command: "curl http://ip/hidro"
      # If errors occur, make sure configuration file is encoded as UTF-8
      unit_of_measurement: "%"
