version: "3"

services:
#  db:
#    image: postgres:12
#    container_name: pg
#    restart: unless-stopped
#    environment:
#      - POSTGRES_PASSWORD=sopds
#      - POSTGRES_DB=sopds
#      - TZ=Europe/Moscow
#    volumes:
#      - /opt/opds/postgres:/var/lib/postgresql/data

  sopds:
    image: zveronline/sopds
    restart: unless-stopped 
    container_name: sopds
#    environment:
#      - DB_USER=postgres
#      - DB_NAME=sopds
#      - DB_PASS=sopds
#      - DB_HOST=db
#      - DB_PORT=5432
#      - EXT_DB=True
#    depends_on:
#      - db
    ports:
      - 8001:8001
    volumes:
      - "/mnt/library:/library:ro"
